<!DOCTYPE html>
<html>
	<head>
		<title>CodeSurf</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/assets/stylesheets/main.css">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
			integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
			integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ="
			crossorigin="anonymous" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="<%= !currentUser ? '/' : '/topics' %>"><span class="oi oi-code align-middle"></span> CodeSurf</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<% if (!currentUser) { %>
							<% if (typeof page === 'undefined' || page !== 'login') { %>
								<form class="form-inline my-2 my-lg-0" action="/login" method="POST">
									<input class="form-control mr-sm-2" type="text" name="username" placeholder="username" aria-label="Username">
									<input class="form-control mr-sm-2" type="password" name="password" placeholder="password" aria-label="Password">
									<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
								</form>
							<% } %>
							<% if (typeof page === 'undefined' || (page !== 'register' && page !== 'landing')) { %>
								<li class="nav-item">
									<a class="nav-link" href="/register">Sign Up</a>
								</li>
							<% } %>
						<% } else if (currentUser) { %>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="oi oi-person"></span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<h6 class="dropdown-header">Logged in as <strong><%= currentUser.firstName %> <%= currentUser.lastName %></strong></h6>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/topics/new">Create topic</a>
									<a class="dropdown-item" href="/users/<%= currentUser.id %>">Your profile</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout">Sign out</a>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container cs-msg-container">
            <% if (successMessage && successMessage.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= successMessage %>
                </div>
            <% } %>
            <% if (errorMessage && errorMessage.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
		<div class="container cs-main-container">