<% include ../partials/header %>

<div class="card mb-4">
  <div class="card-header">
    <p class="float-left">Submitted by <%= resource.author.username %></p>
    <p class="float-right"><%= moment(resource.createdAt).from() %></p>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= resource.title %></h4>
    <p class="card-text"><%= resource.description %></p>
    <% if (resource.resourceLink.includes('href=')) { %>
    	<%- resource.resourceLink %>
    <% } %>
    <% if (currentUser && resource.author.id.equals(currentUser._id)) { %>
	    <div class="mt-3">
			<a class="btn btn-warning btn-sm" href="/topics/<%= topic_id %>/resources/<%= resource._id %>/edit">Edit</a>
			<form class="d-inline" action="/topics/<%= topic_id %>/resources/<%= resource._id %>?_method=DELETE" method="POST">
				<button class="btn btn-danger btn-sm">Delete</button>
			</form>
		</div>
	<% } %>
  </div>
</div>

<% if (currentUser) { %>
	<form class="form-row" action="/topics/<%= topic_id %>/resources/<%= resource._id %>/comments" method="POST">
		<div class="col-sm-8 offset-sm-2">
			<h4>New Comment</h4>
			<div class="card pb-2">
				<div id="cs-new-comment-header" class="card-header">
    				<span class="float-left"><em><%= currentUser.username %></em></span>
    				<button id="cs-new-comment-submit" type="submit" class="float-right"><em>Submit</em></button>
				</div>
				<textarea id="cs-new-comment-field" class="card-body" name="comment[text]"></textarea>
			</div>
		</div>
	</form>
	<hr class="my-4">
<% } %>

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<h3>Comments</h3>
		<% resource.comments.reverse().forEach(function(comment) { %>
			<div class="card">
				<div class="card-body pt-1">
					<div class="row">
						<div class="col-3">
							<div class="row">
								<div class="col-sm-12">
									Profile Pic
								</div>
								<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
									<div class="col-sm-12 px-1 text-center">
										<button type="button" class="cs-comment-modal-btn cs-img-btn" title="Edit Comment" data-toggle="modal"
											data-target="#commentModal" data-action="/topics/<%= topic_id %>/resources/<%= resource._id %>/comments/<%= comment._id %>?_method=PUT"
											data-comment="<%= comment.text %>">
											<span class="oi oi-pencil"></span>
										</button>
										<form class="d-inline" action="/topics/<%= topic_id %>/resources/<%= resource._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
											<button class="cs-img-btn" title="Delete Comment"><span class="oi oi-trash"></span></button>
										</form>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-9">
							<div class="lead pb-2">
								<em><%= comment.author.username %></em>
								<span class="float-right"><em><%= moment(comment.createdAt).fromNow(); %></em></span>
							</div>
							<%= comment.text %>
						</div>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" method="POST">
			<div class="modal-header">
				<h5 class="modal-title" id="commentModalLabel">Edit Comment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<textarea id="cs-edit-comment-field" class="card-body" name="comment[text]"></textarea>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
		</form>
	</div>
</div>

<% include ../partials/footer %>