<% include ../partials/header %>

<div class="jumbotron">
  <h1 class="display-3"><%= topic.title %></h1>
  <p class="lead"><%= topic.description %></p>
  <hr class="my-4">
  <a class="btn btn-primary btn-md" href="/topics/<%= topic._id %>/resources/new" role="button">Add Resource</a>
</div>

<div class="row">
	<div class="col-md-9">
		<h4>Resources</h4>
		<div class="list-group">
			<% topic.resources.forEach(function(resource) { %>
				<a href="/topics/<%= topic._id%>/resources/<%= resource._id %>" class="list-group-item list-group-item-action">
					<%= resource.title %>
				</a>
			<% }); %>
		</div>
	</div>
	<div class="d-none d-md-block col-md-3">
		<h6><em>Top 10 in subreddit</em></h6>
	</div>
</div>

<% include ../partials/footer %>